h1
{
text-align:center;
font-size:40px;
color: Red;
}
h2
{
text-align:center;
font-size:30px;
color:blue;
}
.image img
{
width:300;
height:300;
}
.details
{
margin-top:10px;
margin-left:60px;
font-size:30px;
}
.detail
{
margin-top:10px;
margin-left:60px;
font-size:30px;
}
h3
{
color:black;
font-size:30px;
}
h4
{
font-size:20px;
}
marquee
{
text:white;
background-color:black;s
}